<!DOCTYPE html>
<html lang="en">
	<head>
		<title>E-Loket Test</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="images/icons/favicon.png"/>
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/util.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div id="app" class="container-contact100">
			<div class="wrap-contact100">
				<form v-on:submit.prevent="kirimEmail" class="contact100-form validate-form">
					<span class="contact100-form-title">
						E-Loket System
					</span>

					<div class="wrap-input100 validate-input" data-validate="Silahkan masukkan nomor HP">
						<input v-model="noHp" class="input100" type="text" ref="noHpBox" placeholder="Nomor HP"/>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Silahkan masukkan email">
						<input v-model="email" class="input100" type="text" ref="emailBox" placeholder="Alamat email"/>
						<span class="focus-input100"></span>
					</div>

					<div class="container-contact100-form-btn">
						<button class="contact100-form-btn">
							<span>
								<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
								Kirim
							</span>
						</button>
					</div>
				</form>
			</div>
		</div>

		<script src="vendor/vue/vue.js"></script>
		<script src="vendor/smtpjs/smtp.js"></script>
		<script src="vendor/sweetalert/sweetalert.min.js"></script>
		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
		<script src="vendor/bootstrap/js/popper.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
